@charset "utf-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');



.desk_none {
    display: none;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}




.tbox-p {
    font-size: 16px;
    line-height: 1.4em;
    color: #000000;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -480px;
    max-width: 960px;
    bottom: 15px;
    /* margin: 0 auto; */
    display: inline-block;
}

/*메인 배너 (슬라이드)*/
#mainVisual {
    padding-top: 0px;
}

.mainSlider {
    width: 100%;
    height: auto;
}

.mainSlider .msImg {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url(../../public/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: 40% 30%;
    background-size: cover;
    position: relative;
    transition: all 0.5s;
}

.mainSlider .tbox {
    position: relative;
    color: #1B1B1E;
    font-size: 16px;
    max-width: 960px;
    margin: 0px auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 8px 8px 10px 0 #00000033;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:blur(10px);
}
.mainSlider .tbox .ms_text_wrap {
    padding: 42px;
}

.down_arrow {
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50% , 0);
    background: none;
    cursor: pointer;
    border: none;
}

.down_arrow:hover {
    transform: translate(-50% , -3px);
}
.mainSlider h4 {
    font-size: 35px;
    line-height: 1.4;
    margin: 30px 0;
    font-weight: 400;
    font-family: 'SBAggroB';
}

.mainSlider .boldspan {
    font-weight: bold;
}

.mainsection {
    width: auto;
    display: grid;
  }
  .mainsection .section {
      max-width: 1060px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 120px;
      height:calc(var(--vh, 1vh) * 100);
      width: 100%;
      margin: 0 auto;
      align-items: center;
  }
  .animated {
    animation-name: fadeInUp;
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-play-state: running;
  }
  .mainsection .section p {
      color: #1B1B1E;
  }
  .section-t1 {
    font-size: 36px;
      font-weight: bold;
      line-height: 1.3;
      padding-bottom: 30px;
      letter-spacing: -0.06em;
  }
  .section-t2 {
    font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -1px;
  }
  .mobile {
    display: block;
  }
  .sectimg1 {
    background: url(../../public/images/map.jpg) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .sectimg2 {
      background: url(../../public/images/bulidbanner.png) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .sectimg3 {
      background: url(../../public/images/friendbanner.png) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .sectimg4 {
      background: url(../../public/images/item.png) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .sectimg5 {
      background: url(../../public/images/sur.png) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .sectimg6 {
      background: url(../../public/images/start.png) no-repeat;
      background-size: contain;
      height: 480px;
      width: 480px;
  }
  .steamfont{
    font-size: 19px;
  }
  .mainsection .section.bottomsection{
    margin-bottom: 100px;
  }
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 1000px) {

    .mainSlider .tbox {
        max-width:100%;
        margin: 0 16px;
    }
    .mainSlider .tbox .ms_text_wrap {
        padding: 32px 16px;
    }
    .mainSlider .tbox p {
        line-height: 1.4;
    }
    .mainSlider .ms_text_wrap img {
        width: 150px;
    }
    .mainSlider h4 {
        font-size: 24px;
        margin: 24px 0;
    }
    #section_top{
        height: 60px;
    }
    .mainsection .section {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0;
    }

    .mainsection .order-grid {
        order: 2;

    }
    .section-t1{
        font-size: 34px;
    }
    .mainsection {
        align-items: center;
        justify-content: center;
        padding: 0 20px;

    }
    .centerimg{
        background-position: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .sectimg1{
        width: auto;
    }
    .sectimg2{
        width: auto;
    }
    .sectimg3{
        width: auto;
    }
    .sectimg4{
        width: auto;
    }
    .sectimg5{
        width: auto;
    }
    .sectimg6{
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    .mainsection {
        padding: 0 20px;
        gap:50px
    }
    .section-t1{
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 10px;
    }
    .section-t2{
        font-size: 15px;
        word-break: keep-all;
    }
    .text-left{
        text-align: center;
    }
    .text-right{
        text-align: center;
    }
    .centerimg{
        height: 300px;
    }
    .steamfont{
        font-size: 18px;
        word-break: break-all;
    }
}
@media screen and (max-width: 560px) {
    .mainsection{
        gap: 120px;
    }
    .mainsection .section{
        height: auto;
        gap: 30px;
    }
}